.checkEmail {
  width: 420px;

  .container {
    width: 348px;
    margin: auto;
    color: var(--color-light-100);

    .title {
      display: flex;
      justify-content: center;
      padding: 33px 0 27px;
    }

    .emailIcon {
      display: flex;
      justify-content: center;
      margin-bottom: 19px;
    }

    .text {
      color: var(--color-dark-100);
      text-align: center;
    }

    .buttonWrapper {
      margin-top: 65px;
      padding-bottom: 44px;
    }

    .button {
      display: block;

      text-align: center;
      text-decoration: none;

      border-radius: 4px;
      box-shadow: 0 4px 18px 0 rgb(140 97 255 / 35%);
    }
  }
}
