.trigger {
  all: unset;

  position: relative;

  width: 210px;
  padding: 6px 12px;

  font-size: 16px;

  border: 1px solid var(--dark-300, #4c4c4c);

  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;

  &:hover {
    background: var(--dark-500, #333);
  }
}

.disabled {
  color: var(--dark-300, #4c4c4c);
  border: 1px solid var(--dark-300, #4c4c4c);

  &:hover {
    background-color: inherit;
  }
}

.content {
  all: unset;

  font-size: 16px;

  background-color: black;
  border: 1px solid var(--dark-300, #4c4c4c);
  border-radius: 2px;
}

.item {
  all: unset;
  width: 210px;
  padding: 7px 12px;

  &:hover {
    cursor: pointer;
    color: var(--primary-300, #a280ff);
    background: var(--primary-900, #382766);
  }
}

.label {
  position: absolute;
  top: -25px;
  left: 0;
}

.arrows {
  position: absolute;
  top: 9px;
  right: 10px;
}
