.inputBox {
  position: relative;
  display: flex;
  flex-direction: column;

  input {
    all: unset;

    height: 36px;
    padding: 0 12px;

    color: var(--dark-100, #808080);

    border: 1px solid var(--dark-300, #4c4c4c);
    border-radius: 2px;

    &:active {
      color: var(--light-100, #fff);
      border: 1px solid var(--light-100, #fff);
    }

    &:focus {
      outline: none;
    }

    &.error {
      color: var(--danger-300, #f23d61);
      border: 1px solid var(--danger-300, #f23d61);

      &::placeholder {
        color: var(--danger-300, #f23d61);
      }

      &:hover {
        border: 1px solid var(--danger-300, #f23d61);
      }
    }

    &:hover {
      background: var(--dark-700, #171717);
      border: 1px solid var(--dark-100, #808080);
    }

    &:disabled {
      color: var(--dark-300, #4c4c4c);

      &:hover {
        background-color: inherit;
        border: 1px solid var(--dark-300, #4c4c4c);
      }
    }
  }

  .error {
    color: var(--danger-300, #f23d61);
  }

  .searchInput {
    padding: 0 35px 0 40px;
  }

  .passwordInput {
    padding: 0 46px 0 12px;
  }

  .eye {
    cursor: pointer;
    position: absolute;
    right: 5px;
    padding: 7px;

    &.eyeDisabled * {
      fill: #4c4c4c;
    }
  }

  .close {
    cursor: pointer;
    position: absolute;
    left: 270px;
    padding: 7px;

    :active * {
      fill: white;
    }

    &.closeDisabled * {
      fill: #4c4c4c;
    }
  }

  .search {
    position: absolute;
    left: 0;
    padding: 7px;

    &:active {
      fill: white;
    }

    &.searchDisabled * {
      fill: #4c4c4c;
    }
  }
}
