.header {
  width: 100%;
  height: 60px;
  background-color: var(--color-dark-700);

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 1030px;
    height: 60px;
    margin: 0 auto;

    .info {
      display: flex;
      gap: 10px;
      align-items: center;

      text-decoration: underline dashed;
      text-underline-offset: 7px;

      .avatar:hover {
        box-shadow: 0 1px 20px 1px rgb(105 0 255 / 100%);
        transition: 0.2s;
      }
    }

    .logo {
      font-size: 25px;
    }

    .button {
      padding: 6px 28px;
      border-radius: 4px;
    }
  }
}
