.forgotPassword {
  width: 420px;
  margin: auto;

  .title {
    display: flex;
    justify-content: center;
    padding: 33px 0 51px;
  }

  .form {
    width: 348px;
    margin: 0 auto;
    color: var(--color-light-100);

    .emailInput {
      margin-bottom: 19px;
    }

    .text1 {
      color: var(--color-dark-100);
    }

    .sendButton {
      margin: 65px 0 20px;
    }

    .text2 {
      display: flex;
      justify-content: center;
      margin: 0 auto 11px;
      color: var(--color-light-900);
    }

    .buttonLink {
      display: flex;
      justify-content: center;

      padding-bottom: 29px;

      color: var(--color-accent-500);
      text-decoration: underline;
    }

    .forgotPasswordLink {
      display: flex;
      justify-content: end;
      margin: 6px 12px 66px 0;
    }
  }
}
